<div class="page-header d-flex justify-content-center">
  <h2>
    Johann Sebastian Bach
  </h2>
</div>
<hr />
<br />
<div class="row">
  <div class="col-sm-6">
    <figure>
      <img src="../../assets/bach.png" alt="Portrait of JS Bach" />
      <figcaption>Portrait of JS Bach (Elias Gottlob Haussmann  1695–1774)</figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <p>Johann Sebastian Bach is a composer from the Baroque era, although he was better known as a virtuoso organist in his day.
      He wrote sacred music, organ and choral works, and other instrumental music.  His canons and fugues contained complexities
      that fit perfectly together into a puzzle for other composers to discover.  Many consider him the greatest composer of all time.</p>
  </div>
