<br />
<h2>Assignment 2.4</h2>
<br />
<br />
<div class="page-header d-flex justify-content-center">
  <h2>
    Welcome to the Contact Us page
  </h2>
</div>
<hr />
<br />
<div class="row">
  <div class="col-sm-6">
    <ul class="list-unstyled">
      <li><strong>Address:</strong></li>
      <li>
        1000 Galvin Road S
      </li>
      <li>
        Bellevue, NE 68005
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
  <ul class="list-unstyled">
    <li>
      <strong>Direct: </strong><span>555-555-5555</span>
    </li>
    <li>
      <strong>Toll Free: </strong><span>555-555-5555</span>
    </li>
    <li>
      <strong>Fax: </strong><span>555-555-5555</span>
    </li>
  </ul>
  </div>
